# Folders
aug
datasets
NASA_Planet_Data
yolo_labels
dataset_splits
hist_splits
yolo-data-augmentation
Sample_Data
indiced_images
sentinel
planet_filtered*
sample_planet_testing
*cache*
runs
padding
Test_small
masks
corner_images

# Files
vis_bbox.py
todo.txt
error_images.txt
skipped_images.txt
Web/BE/detection_outputs
Web/BE/json
Web/BE/uploads
Web/BE/venv
seg2box

# Extensions to skip
*.zip
*.rar
*.qgz
*.jpg
*.pt
*.tif
*.xml
*.png
*.geojson